@tailwind base;
@tailwind components;
@tailwind utilities;

body {

  background-color: #91c9cd;
}

.style {

  background-color: black;
  color: white;
}

.style1 {
  background-color: #91c9cd;
  color: black;
}